/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #10161d;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

/* Full-width container for all content */
.main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Header section */
.header {
    width: 100%;
    height: 490px;
    background: linear-gradient(to bottom, rgba(16,22,29,1), rgba(161,125,6,0.45)), url("img/truck_background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-overlay {
    text-align: center;
    padding: 20px;
}

.logo {
    max-width: 250px;
    margin-bottom: 20px;
}

.header-text {
    font-size: 2.6rem;
    font-weight: 500;
    color: #ffffff;
}

.main-content {
    flex-direction: row;
    align-items: center;
}

/* Info section for pricing and contacts */
.info-section {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pricing, .contact {
    width: 100%;
    background-color: #191e24;
    padding: 40px;
}

.pricing h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.highlight {
    color: #f9ea1c;
}

.price-list {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
}

.price-list li {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 5px 0;
}

.contact p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.6;
}

/* Image section */
.image-section {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.truck-image {
    width: 100%;
    height: auto;
}

/* Content block with white background */
.contract-section {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 60px;
    text-align: left;
}

.contract-section h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.6;
}

.contract-section h4 {
    line-height: 1.6;
    margin: 20px 0;
}


.contract-section p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Responsive styling */
@media (max-width: 768px) {
    .header {
        height: 360px;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .header-text {
        font-size: 1.8rem;
    }

    .pricing, .contact {
        padding: 20px;
    }

    .pricing h2 {
        font-size: 1.6rem;
    }

    .info-section {
        flex-direction: column;
    }

    .image-section {
        order: 2; /* Places image below pricing and contact sections */
    }

    .contract-section {
        width: 100%;
        padding: 20px;
    }
}